@import "src/styles/variables";

:host {
    display: flex;
    padding: 0 $page-padding;

    .video-container {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 20px;

        .mat-card-footer {
            margin: auto 0 0 0;

            .channel {
                height: 40px;
                display: flex;
                align-items: center;

                margin: 0;
                .channel-img {
                    height: 100%;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
    }

    .video-container:first-of-type {
        margin-left: 0;
    }
    .video-container:last-of-type {
        margin-right: 0;
    }
}
