<button mat-button
        class="menu-button short-button"
        (click)="onMenuClicked()"
        *ngIf="isSmallScreen$ | async">
    <mat-icon>menu</mat-icon>
</button>

<img src="./assets/images/logo.png"
     class="logo" />

<div class="header-menu">
    <div class="search-field">
        <button mat-button
                class="back-button short-button"
                (click)="onBackClicked()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <input #searchInput
               type="search"
               placeholder="Search videos"
               [value]="searchValue"
               (input)="onInputChange($event)"
               (keyup.enter)="search(searchInput.value)" />
        <div class="search-buttons">
            <button mat-button
                    class="clear-button short-button"
                    (click)="onClearClicked()">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-button
                    class="search-button short-button"
                    (click)="onSearchClicked()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
    <div class="profile">
        <button class="username"
                [matMenuTriggerFor]="menu"
                mat-button
                *ngIf="(user$ | async) as user">{{user.fullName}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openMenu()">Upload Video</button>
        </mat-menu>
        <button mat-button
                color="primary"
                class="logout-btn"
                (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</div>
