@import "src/styles/variables";
@import "src/styles/media";

:host {
    position: fixed;
    z-index: 999;
    height: 55px;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 $page-padding;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $body-background-color;

    .menu-button {
        margin-right: 10px;
    }

    .logo {
        height: 100%;
        padding: 5px 0;
    }

    .header-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        height: 100%;
    }

    .search-field {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        > input {
            display: none;
            height: 100%;
            flex-grow: 1;
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 0 64px 0 32px;

            &:focus {
                outline-width: 0;
                border: 1px solid rgba(0, 0, 0, 0.5);
            }
        }

        > .back-button {
            position: absolute;
            left: 0;
            display: none;

            height: 100%;
        }

        > .search-buttons {
            position: absolute;
            right: 0;

            display: flex;

            height: 100%;

            .clear-button {
                display: none;
            }
        }

        > .search-buttons > * {
            height: 100%;
        }
    }

    .profile {
        height: 100%;
        display: flex;
        align-items: center;

        .username {
            display: none;
        }

        .logout-btn {
            height: 100%;
        }
    }
}

:host.search-activated {
    .search-field {
        position: absolute;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        > input {
            display: block;
        }

        > .back-button {
            display: block;
        }
    }
}

:host.search-text-filled .search-field .search-buttons .clear-button {
    display: block;
}

@include desktop {
    :host {
        .search-field {
            height: 40px;

            > input {
                visibility: hidden;
                border-radius: 5px;
                width: 10px;
                transition: width 1s;
            }
            > .search-buttons {
                right: 0;
            }
        }
        .profile {
            .username {
                display: flex;
                margin: 0 10px;
            }
        }
    }

    :host.search-activated {
        .search-field {
            position: relative;
            width: 500px;
            height: 40px;

            > input {
                visibility: visible;
                width: 650px;
                transition: width 1s;
            }
        }
    }
}
