@import "./variables.scss";

$typografy: mat-typography-config(
    $subheading-2: mat-typography-level(18px, 28px, 400),
    $subheading-1: mat-typography-level(17px, 24px, 400),
    $body-2: mat-typography-level(16px, 24px, 500),
    $body-1: mat-typography-level(16px, 24px, 400),
    $caption: mat-typography-level(14px, 20px, 400),
    $button: mat-typography-level(16px, 14px, 500),
);
@include mat-core($typografy);

$primary-palette: mat-palette($mat-green, 500, 100, 700);
$accent-palette: mat-palette($mat-yellow, 500, 300, 600);
$warn-palette: mat-palette($mat-red, 500, 100, 700);

$theme: mat-light-theme(
    (
        color: (
            primary: $primary-palette,
            accent: $accent-palette,
            warn: $warn-palette,
        ),
    )
);

@include angular-material-theme($theme);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $body-background-color;

    main {
        padding-top: 56px;
    }
    input {
        font-size: 16px;

        &[type="search"]::-webkit-search-decoration,
        &[type="search"]::-webkit-search-cancel-button,
        &[type="search"]::-webkit-search-results-button,
        &[type="search"]::-webkit-search-results-decoration {
            -webkit-appearance: none;
        }
    }

    .mat-card-title {
        font-size: 20px;
    }
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

button.short-button {
    padding: 0;
    min-width: 32px;
}

button.middle-button {
    padding: 0;
    min-width: 48px;
}

.error-snackbar {
    background-color: $error-snackbar-color;
    .mat-simple-snackbar-action {
        color: #fff;
    }
}
