@import '~@angular/material/theming';

$primary-color: mat-color($mat-green, 500);
$primary-color-light: mat-color($mat-green, 100);
$accent-color: mat-color($mat-yellow, 500);
$error-snackbar-color: mat-color($mat-red, 300);

$body-background-color: #ffffff;

$page-padding: 24px;
