@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using VideoHub.Identity.Models;
@model LoginModel;

<section class="login-section">
    <div class="login-form-header">
        <img src="~/images/logo.png" class="logo"/>
        <span>Sign in to VideoHub</span>
    </div>

    <form class="login-form" asp-route="Login" method="post">
        <input type="hidden" asp-for="ReturnUrl" />

        <div class="form-element">
            <label asp-for="Username">Username</label>
            <input type="text" asp-for="Username" name="Username" />
        </div>
        <div class="form-element">
            <label>Password</label>
            <input type="password" asp-for="Password" />
        </div>
        <div class="form-element">
            <button type="submit" class="submit-btn">Sign In</button>
        </div>
    </form>
</section>
